<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/home/login.js">console.log("test");</script>
</head>
<body>
   
        <h2>Login</h2>
        
            <input id= "id" type="text" placeholder="Email"><br>
            <input id= "pw" type="text" placeholder="Password">
            <!-- <label for="remember-check">
                <br><input type="checkbox" id="remember-check">아이디 저장하기
            </label> -->
            <!-- <input id="login-btn" type="submit" value="Login"> -->
            <button>LOGIN</button>

</body>
</html>
